* {
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 15px;
}

nav a {
  font-size: 13px;
  display: inline-block;
  /* line-height: 24px; */
  font-weight: 300px;
  color: rgb(28, 27, 27);
  padding: 5px 7px;
  cursor: pointer;
}
nav a:hover {
  text-decoration: underline;
  opacity: 0.87;
}
nav img {
  width: 34px;
  padding: 5px;
  margin: auto 7px;
  cursor: pointer;
}
nav img:hover {
  opacity: 8;
}

nav button {
  border: 1px solid black;
  font-weight: bold;
  outline: none;
  background: rgb(46, 65, 150);
  color: #fff;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer;
  padding: 7px 14px;
}
.section-1 {
  flex: 1;
  align-items: center;
}
.section-1 .logo {
  display: block;
  margin: 0 auto;
  margin-top: 109px;
}

.search-box {
  width: 580px;
  margin: 0 auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}
.search-box .search-input {
  display: block;
  border: 1px solid rgb(43, 36, 36);
  color: rgb(3, 3, 3);
  font-size: 18px;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  /* transition: box-shadow 100ms; */
  outline: none;
}
.search-box .search-icon {
  width: 20px;
  opacity: 0.4;
  position: absolute;
  top: 13px;
  left: 14px;
}
.search-box .vs-icon {
  width: 14px;
  position: absolute;
  top: 13px;
  right: 8px;
}
.search-box .camera-icon {
  width: 30px;
  position: absolute;
  top: 9px;
  right: -45px;
  /* bottom: 5px; */
}
.s-btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: gray;
  font-size: 15px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 28px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}
.s-btn:hover {
  border: 1px solid black;
}
.last {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #111;
}

.last a {
  margin-left: 5px;
  color: blue;
}
.last a:hover {
  text-decoration: underline;
}
footer {
  background: rgb(208, 205, 205);
}
footer h4 {
  color: #111;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  padding-left: 29px;
  border: 1px solid black;
}
footer a {
  color: rgb(86, 84, 84);
  display: inline-block;
  padding: 1px 60px;
  font-size: 15px;
}
footer a:hover {
  text-decoration: underline;
}

.links {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.links-1 {
  padding-left: 10px;
  flex: 1;
}
.links-2 {
  padding-right: 18px;
}
